/*--dark-jungle-green: #1c2321ff;
--platinum: #e8e8e8ff;
--blood-red: #690500ff;
--rhythm: #817e9fff;
--scarlet: #fc2f00ff;*/

body{
    background:#e8e8e8ff ;
}

header {
    font-family: 'Indie Flower', cursive;
}
/*container for home screen*/
.landing {
    min-height: 100vh;
    background: url("../images/Leaf.jpg")no-repeat scroll 50% 50%;;
    background-size: cover;
}
/*nav container for li and logo*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background: #fc2f00ff;
    min-height: 8vh;
    position: sticky ;
    top:0;
    z-index: 1;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition-delay: ease .5s;
}
#Logo {
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
    font-size: 2rem;
}
/*text in the middle of the leaf background*/
.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
    font-size: 5rem;
    color: #e8e8e8ff;
}
/*div for the sliding animation*/
.intro {
    background: #e8e8e8ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    background: linear-gradient(to bottom, #e8e8e8ff 50%,  #1c2321ff 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text {
    color:  #1c2321ff;
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hide  {
    background: linear-gradient(to bottom, #e8e8e8ff 50%,  #1c2321ff 100%);
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}
main {
    display:flex;
    border: 5px solid #fc2f00ff;
    width: 100%;
    color: black;
    font-size: 1.5rem;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    position: relative;
}
main article {
    min-height: 100vh;
    border: 1px solid black;
    padding-bottom: 5px;
}
main h2 {
    display: flex;
    font-size: 40px;
    height:100vh;
    padding: 20px;
    flex-direction: column;
    width: 300px;
    background: #1c2321ff ;
    border: solid #fc2f00ff 3px;
    box-shadow: 41px 0px 15px 5px rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    color: #e8e8e8ff;
}
.about-info {
    width: 70%;
    margin: 0 auto;
    padding: 0px 80px;
}
main ul {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}
/* main ul {
    justify-content: center;
    display: flex;
    margin: 0 auto;
} */
.About-section, .Projects-section, .Contact-section  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Projects-section img {
    width: 200px;
    height: 200px;
}
#Project-1 {
    width: 500px;
    height: 200px;
    align-items: stretch;
}